altgraph==0.10.2
bdist-mpkg==0.5.0
Django==1.8
google-api-python-client==1.4.0
httplib2==0.9
modulegraph==0.10.4
oauth2client==1.4.7
py2app==0.7.3
pyasn1==0.1.7
pyasn1-modules==0.0.5
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
rsa==3.1.4
simplejson==3.6.5
six==1.9.0
Twisted==13.2.0
uritemplate==0.6
virtualenv==12.0.7
xattr==0.6.4
zope.interface==4.1.1
