<html>
  <head>
    <script src="https://apis.google.com/js/client:platform.js" async defer>
    </script>
  </head>
  <form action="portal/" method="POST">
    <input id="sign_in" type="submit" value="Get">
  </form>
  <form action="register/" method="POST">
    <input id="register" type="submit" value="Get">
  </form>
</html>

<!-- 
data-callback="signinCallback"
      data-clientid="CLIENT_ID"
      data-cookiepolicy="single_host_origin"
      data-requestvisibleactions="http://schema.org/AddAction"
      -->